[
 { ppnl_leden,
	[
		{ database, #{
			host => "localhost",
			username => "frank",
			password => "frank",
			database => "ppledenadmin"
			}
		},
		{ mailconfig, [
				{ relay, "smtp.xs4all.nl" },
				{ tls, if_available }
			      ] 
		},
		{ system_mail, "frank87@xs4all.nl" },
		{ system_mail_r, "Piratenpartij Ledensite" }
	]
 }
].
